*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.contentedit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  height: calc(100vh - 40px);
  

}
.content img{
  
  height: 70%;
}
.change{
  padding: 20px 20px;
  width: 50%;
  
}
h3{
  margin-bottom: 15px;
}
.password form{
  display: flex;
  flex-direction: column;
}
.text{
  font-size: .9rem;
  margin-bottom: 5px;;
}
.password form input{
  margin-bottom: 1em;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: solid;
  padding: 1em;
}

/* .cancel{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.change{
  display: flex;
  justify-content: flex-start;
  border: none;
  border-radius: 50px;
  transition: .7s ease;
  margin-right: 50px;
  border: solid;
  padding: 5px 5px;
  border-color: green;
}
.btn input:hover{
  background: green;
  color: white;
  padding: 5px 5px;
}
.btn .cancel{
  border-color: red;
}
.btn .cancel:hover{
  background: red;
  color: white;
  padding: 5px 5px;
} */

.change1{
  width: 90px;
height: 40px;
background-color: green;
color: white;
border-radius: 15px;
margin-bottom: 10PX;

}

.cancel{
  background-color: red;
  width: 90px;
  height: 40px;
  color: white;
  border-radius: 15px;
}

.change1:hover{
  background-color: rgb(9, 53, 156);
  color: white;
}

.cancel:hover{
  background-color: black;
  color: white;
}